.login-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 50px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    height: 70vh;
    border-radius: 20px;
    background-image: url('https://images.pexels.com/photos/5650049/pexels-photo-5650049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-card {
    width: 500px;
    padding: 32px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: all 0.3s ease;
    margin-right: 50px; 
  }
  
  mat-card-header, mat-card-title {
    text-align: center;
  
    padding: 5px;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
  }
  
  p {
    text-align: center;
    
    color: rgba(26, 31, 22, 0.50);
  }
  
  .full-width {
    width: 100%;
  }
  
  .form-field {
    margin-bottom: 24px;
  }
  
  mat-form-field {
    width: calc(100% - 24px);
    transition: width 0.3s ease;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
  }
  
  .login-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  span {
    color: whitesmoke;
    margin-top: 10px;
    display: block;
    text-align: center;
  }